.bg-ground{
    background-color: darkgree
}

.bg-nice-purp{
    background-color: #B88AC8
}

.large-font{
    font-size: large;
}

.bdr-color{
    border-color: #563d7c;
}

.lr-padding-containers{
    padding-left: 0;
    padding-right: 0;

}

.div.container-fluid {
    padding-left: 100;
    padding-right: 100;
}

.shrink-img{
    transform: scale(0.5);
}

.padding-bot{
    padding-bottom: 25px;
}

.text-on-image {
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  .nav-bar-bg{
    background-color: #B88AC8;
  }

  .fnt-white{
    color: #FFFF;
  }

  .fnt-purp{
    color: #B88AC8;
  }

  .bg-white{
    background-color: #FFFF;
  }

  .linear-li{
    display: inline-block;
    margin: 0 8px;
  }

  .fnt-size-small{
    font-size: xx-small;
  }

  .img-h{
    height: 100vh;
  }

  .scale-sm{
    scale: 0.999;
  }