.bg-ground{
    background-color: darkgree
}

.bg-nice-purp{
    background-color: #563d7c
}

.large-font{
    font-size: large;
}

.bdr-color{
    border-color: #563d7c;
}

.lr-padding-containers{
    padding-left: 0;
    padding-right: 0;

}

.div.container-fluid {
    padding-left: 100;
    padding-right: 100;
}
